
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color:rgba(218, 218, 231, 0.459) ;
}

h1{
    color: rgb(179, 179, 231);
    font-family: "Bitter", serif;
    text-align: center;
}

.pulse {
    animation: img 1.5s linear infinite;
    display: flex;
    justify-content: center;
}

@keyframes img {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}